<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<style>

	.links line {
	  stroke: #999;
	  stroke-opacity: 0.6;
	}
	
	.nodes circle {
	  stroke: #fff;
	  stroke-width: 1.5px;
	}
	
	text {
	  font-family: sans-serif;
	  font-size: 10px;
	}
	
	</style>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

	<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  </head>
  <body>
           <nav class="navbar navbar-default no-margin">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header fixed-brand">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
<span class="fa fa-th-large" aria-hidden="true"></span>
</button>
         <a class="navbar-brand" href="#"><i class="fa fa-rocket fa-4"></i> Network App Map (NAP)</a>
      </div>
      <!-- navbar-header-->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
            <li>
               <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="fa fa-th-large" aria-hidden="true"></span>
               </button>
            </li>
         </ul>
      </div>
      <!-- bs-example-navbar-collapse-1 -->
   </nav>
   <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
         <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li>
               <a href="/map"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span> Dashboard</a>
            </li>
            <li class="active">
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus fa-stack-1x "></i></span>Add</a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><a href="/add"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus fa-stack-1x "></i></span>Add Host</a></li>
                  <li class="active"><a href="/connection"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus fa-stack-1x "></i></span>Add Connection</a></li>
               </ul>
            </li>
            <li>
               <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Manage</a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                  <li><a href="/view"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Manage Hosts</a></li>
                  <li><a href="/view_con"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Manage Connections</a></li>
               </ul>
            </li>
            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-youtube-play fa-stack-1x "></i></span>About</a>
            </li>
            <li>
               <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Contact</a>
            </li>
         </ul>
      </div>
      <!-- /#sidebar-wrapper -->
            <div id="page-content-wrapper">
         <div class="container-fluid xyz">
            <div class="row">
                  <div class="container">
    <h1><%= title %></h1>

    <form action="/connection" method="post" id="add_con" >
     <div class="form-group">
        <label for="ip">Lab:</label>
	    <select class="form-control" id="lab" name="lab">
			<option value="" disabled selected>Select</option>
		</select>
	</div>
    <div class="form-group">
      <label for="command">Command:</label>
      <input type="text" class="form-control" id="command" placeholder="Enter ip search command" name="command" required>
    </div>
    <div class="form-group">
      <label for="path">Path:</label>
      <input type="text" class="form-control" id="path" placeholder="Enter ip search path" name="path" required>
    </div>
    <button type="submit" class="btn btn-default">Add Connection</button>
  </form>
   </div>
   
   </div>


   </div>
         </div>
            </div>

    <script>


            

	var data = {};
 	var res;
            data.title = "title";
            data.message = "message";
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/loadSelect',
                success: function (data) {
				  var labs = data;
				  var catOptions = "<option value='' disabled selected>Select</option>";
		            for (categoryId in labs) {
		                catOptions += "<option value='"+labs[categoryId].host_id+"'>" + labs[categoryId].name + "</option>";
		            }
		            document.getElementById("lab").innerHTML = catOptions;
				 
                  //alert(data)
                }
            });
 


</script>
	<script src="/script/script.js"></script>
</body>
</html>